<div class="holder">
    <div class="bg-image" [ngStyle]="{'background-image': 'url('+movie.posterImage+')' }">
    </div>
    <img src="{{movie.posterImage}}" />
    <div class="desc-box">
        <div class="title-row">
            <p class="title">{{movie.title}}</p>
            <div class="rating">
                <span>{{movie.rating}}</span>
                <i class="material-icons">star_rate</i>
            </div>
        </div>
        <p class="desc">{{movie.description}}</p>
    </div>
</div>
